<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Dil Se Education &#124; Help Educate a Poor Child" />
    <meta name="author" content="">

    <title>Dil Se Education &#124; Help Educate a Poor Child</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=OpenSans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/creative.css" rel="stylesheet">    
    <link href="css/index.css" rel="stylesheet" />
    <link href="css/pressrelease.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top1">
  <a id="logolink" class="navbar-brand scroll-top" style:background-color: #00ff00; href="http://dilseeducationfoundation.org">
                    <img class="img-responsive"  id="logoImg" src="img/logo.png" alt="Dil Se Education | Help Educate a Poor Child" />
    </a>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background-color:#222">
                <ul class="nav navbar-nav navbar-right smallSpacer">     </ul>
            </div>    
           
               

    <!--header id="pressHeader"></header>-->
        <div class="col-lg-10 text-center">
           
                <h1 id=" " class="semiBold" st>Mandal Praja Parishath Pradhamika Patashaala</h1>                   
           <div>
		   <br>
		</div>
        <!--/div>
    <div style="margin-left: 10em;margin-top: 60px;border-right: double #222;">
        <br/><br/>
         <img src="img/DilSePhotoshoot/dilse_education_27_0_PGip9.jpg" alt="Group Photo" style="padding:1px;height:400px;width:50%;"/>
        <br/><br/>
        <div font size=20em><b > Story</b>
        </div>-->
           
        
    </div>    
    <section id="mission" class="semiLight">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-8 pull-left">
		 <img src="img/DilSePhotoshoot/dilse_education_27_0_PGip9.jpg" alt="Group Photo" style="padding:1px;height:430px;width:100%;"/>
			<br>  <br> 
			<div text-center>
			 <h1 id=" " class="semiBold" >Story</h1> 
			</div>
			<div> <p class="pull-left text-justify">  <b>Strengthen our government schools in rural areas by incorporating digital learning and clean infrastructure facilities.</b>
<br>
Government schools serve the majority of children in our country. These schools have witnessed a decline in their services, and increasingly they are accessed by the poor and the marginalized. We're committed to strengthening our government schools in rural areas by incorporating digital learning and clean infrastructure facilities.
<br></div>
				<div>
 <img src="img/DilSePhotoshoot/Learning6.JPG" alt="Group Photo" style="width: 300px;height:  190px;"/></div>
		<div>			<br>
 <img typeof="foaf:Image" src="img/DilSePhotoshoot/dilse_education_27_0_JPLde.jpg" class="img-responsive" style="width: 300px;height:  190px;">			
</div>
			<div>
					<br>
				</div>
			<div><p class="pull-left text-justify">	<b>Promote Digital Literacy</b><br>
Now you may think, are you serious? It's tough enough getting kids excited about reading and writing, now we're expected to teach them digital literacy? Here's the deal. Digital literacy already has a proverbial foot in the door in relation to students' interests and attention. For a vast majority of digital natives, the idea of books and paper is old and boring. They have these awesome tablets, laptops, apps, etc., that puts old-school media to shame. Why not use students' predisposition to digital media as a driver of engagement?
<br>
				<div>
 <img src="img/DilSePhotoshoot/13346376_16954575873_ujras.jpg" alt="Group Photo" style="width: 300px;height:  190px;"/></div>
				<div>
					<br>
				</div>
				<div>
 <img src="img/DilSePhotoshoot/dilse_education_27_0_KI31r.jpg" alt="Group Photo" style="width: 300px;height:  190px;"/> <br> </div>
				
				
</div>
				<div>
					<br>
				</div>
			<div><p class="pull-left text-justify">	<b>Digital Literacy Promotes Higher-Order Thought Skills</b><br>
Digital literacy skills are transmutable from the tech world to real world and meets many of the basic needs required by today's learning standards. Installing strong levels of digital literacy creates great avenues to learn and practice these higher-order skills, ranging from students working collectively via a Google Doc to developing the ability to analyze a web source's credibility (and everything in between).
<br>
				<div>
 <img src="img/DilSePhotoshoot/13422385_16954578107_M5lRU.jpg" alt="Group Photo" style="width: 300px;height:  190px;"/></div>
				<div>
					<br>
				</div>
				<div>
 <img src="img/DilSePhotoshoot/dilse_education_27_0_7SfjN.jpg" alt="Group Photo" style="width: 300px;height:  190px;"/> <br></div>
				
				
</div>
			<div>
					<br>
				</div>

			<div><p class="pull-left text-justify">	<b>Digital Literacy Breaks Down the Walls of Learning and Information</b><br>
The traditional pen-and-pencil system presents tons of barriers to student access and connection, whether it be the plight of a master narrative, language disconnect, etc. By instilling adept digital skills, students can break through these walls and become producers of knowledge. Allowing students to find their own learning resources (via the web, cloud-based learning tools, etc.) and analyze the sources benefit creates a true personalized learning environment. Students are no longer given a static text set that dictates how and what they should learn. Instead, developed digital literacy skills afford students the ability to seek out and utilize knowledge resources that help them create a personal learning connection.
<br>
</div><div>
 <img src="img/DilSePhotoshoot/dilse_education_27_0_p5zhB.jpg" alt="Group Photo" style="width: 300px;height:  190px;"/><br></div>
			
			
			<div>
					<br>
				</div>
				<div> <p class="pull-left text-justify"><b>Digital Literacy Prepares Students for a Digital World</b><br>
Whether it be working with Microsoft Office, understanding the nuances of a Windows/Mac operating system, or even the simple use of a mouse and keyboard, it's vital for students to be ready to roll when sitting in front of a digital device. In today's climate, gaining familiarity with digital device functions and features is just as important as learning to read and write.

											  </p></div>
			<div>
 <img src="img/DilSePhotoshoot/dilse_education_27_0_mmhGN.jpg" alt="Group Photo" style="width: 300px;height:  190px;"/><br></div>
			
			
			<br/>
			<br/>
                </div>
                <div class="col-lg-3 pull-left">
                    <h2 class="text-uppercase text-center"></h2>
                    <div class="campaign-widget">
    <div class="raised-amt" style="font-size:20px"  id="amount-raised" ><b>Rs.32500</b></div>
    <div class="target-amt clearfix">raised of
        Rs.2,000,000     goal
    </div>
    <div class="progress active">
      <div class="progress-bar progress-bar-info" id="progress-bar" role="progressbar" aria-valuenow="2" style="background-color: #b91141;" aria-valuemin="0" aria-valuemax="100" style="width: 74%;">
      </div>
    </div>
    <div class="clearfix">
      <div class="pull-left">
        <p class="h6 no-bottom-margin support">
          <span>
            <strong>
              15
            </strong>
              Supporters
          </span>
        </p>
      </div>
      <div class="pull-right">
        <p class="h6 no-bottom-margin support">
          <span><strong id="days-to-go">
            30</strong> Days </span>to go
        </p>
      </div>
    </div>
    <form  action="http://m-lp.co/dilse" accept-charset="UTF-8" method="get" novalidate="novalidate"><button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button><input name="utf8" type="hidden" value="✓">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group form-fields-grp">
              <div class="input-group">
                <input style="font-size:20px" id="payable_amount_11817" type="number" name="payable_amount" placeholder="Enter amount" class="form-control manual-payment payment-amt" step="any" data-min_amount_inr="100" data-min_amount_usd="5" data-fv-notempty="true" data-fv-notempty-message="Amount cannot be blank" data-fv-lessthan="true" data-fv-lessthan-value="2147483647" data-fv-lessthan-message="Value cannot be greater than 2147483647" data-fv-numeric="true" data-fv-numeric-message="Amount must be a number" data-fv-callback="true" data-fv-callback-callback="validate_minimum_contribution_amount_for_campaign" value="2500" data-fv-field="payable_amount">

                
              </div>
            <small class="help-block" data-fv-validator="callback" data-fv-for="payable_amount" data-fv-result="NOT_VALIDATED" style="display: none;">Please enter a valid value</small><small class="help-block" data-fv-validator="lessThan" data-fv-for="payable_amount" data-fv-result="NOT_VALIDATED" style="display: none;">Value cannot be greater than 2147483647</small><small class="help-block" data-fv-validator="notEmpty" data-fv-for="payable_amount" data-fv-result="NOT_VALIDATED" style="display: none;">Amount cannot be blank</small><small class="help-block" data-fv-validator="numeric" data-fv-for="payable_amount" data-fv-result="NOT_VALIDATED" style="display: none;">Amount must be a number</small></div>
          </div>
          <div class="row">
            <span id="payable_amount_error" style="color:#FF0000;display:none;"></span>
          </div>
        </div>
      </div>
    </div>

      <span id="payable_amount_error" style="color:#FF0000;display:none;"></span>
      <input type="submit" name="commit" value="Donate now" style="font-size:25px"style="color:#FFFFF;" width="48" height="48" >
</form>
    <p class="payment-options" style="font-size:12px"data-for-currency="inr">
      Payment options: Online, cheque pickups
    </p>

</div>
                    <div class="text-justify">
                      
			     
					
			    
                    </div>

                </div>
            </div>
        </div>
    </section>
    <div>
        
        
    </div>
    
    

   

    <footer >
	    <div class="navbar-fixed-bottom text-center">
        Dil se education foundation | Help Educate a Poor Child
	    </div>
	    <div class="navbar-fixed-bottom text-right">
 <img src="img/DilSePhotoshoot/fb_icon.png" alt="Group Photo" /> <br>
	    </div>
		    
	    
    </footer>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/creative.min.js"></script>
    <script src="js/index.js"></script>

    </body>
</html>

